NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_TV_HLS_URL=/hls/tv/index.m3u8
NEXT_PUBLIC_ICECAST_URL=/radio

API_PROXY_URL=https://159.112.140.93.nip.io
ICECAST_PROXY_URL=https://159.112.140.93.nip.io
HLS_PROXY_URL=https://159.112.140.93.nip.io/hls
