DATABASE_URL="postgresql://postgres:postgres@localhost:5432/radio_labranza?schema=public"
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="1h"
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_TV_HLS_URL="http://localhost:8888/tv/index.m3u8"
NEXT_PUBLIC_ICECAST_URL="http://localhost:8000/radio"
WEB_ORIGIN="http://localhost:3000"
PORT=3001
ICECAST_PUBLIC_URL="http://localhost:8000/radio"
ICECAST_ADMIN_URL="http://localhost:8000/admin/stats"
ICECAST_STATUS_URL="http://localhost:8000/status-json.xsl"
MEDIAMTX_RTMP_URL="rtmp://localhost:1935"
MEDIAMTX_HLS_URL="http://localhost:8888/tv/index.m3u8"
MEDIAMTX_API_URL="http://localhost:9997"
