POSTGRES_USER=radio_labranza
POSTGRES_PASSWORD=CAMBIA_ESTA_PASSWORD_LARGA
POSTGRES_DB=radio_labranza

JWT_SECRET=CAMBIA_ESTE_SECRETO_LARGO_ALEATORIO
JWT_EXPIRES_IN=8h

API_DOMAIN=api.tudominio.cl
WEB_ORIGIN=https://tu-proyecto.vercel.app

ICECAST_PUBLIC_URL=https://api.tudominio.cl/radio
ICECAST_ADMIN_URL=http://icecast:8000/admin/stats
ICECAST_STATUS_URL=http://icecast:8000/status-json.xsl
MEDIAMTX_RTMP_URL=rtmp://api.tudominio.cl:1935
MEDIAMTX_HLS_URL=https://api.tudominio.cl/hls/tv/index.m3u8
MEDIAMTX_API_URL=http://mediamtx:9997
